<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"><title></title></head>


<body>
<div th:replace="fragments/header :: header"></div>

<main class="container mt-4 custom-form" role="main">
    <div class="row custom-bg">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="serializedFormContainer">

                <div sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/logout}">
                        <label class="custom-label">
                            <h3>
                                You do not have access to this page:
                            </h3>
                        </label>

                        <input class="btn-lg btn-primary btn-block
                                      text-uppercase custom-btn btn"
                               type="submit" value="Logout"/>
                    </form>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <label class="custom-label">
                        <h3>
                            You do not have access to this page:
                        </h3>
                    </label>
                    <a class="btn btn-lg btn-primary btn-block text-uppercase custom-btn"
                       th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>
    </div>

</main>
</body>

</html>
