<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>


<main class="container" role="main">
    <div class="starter-template">

        <div class="row mx-auto custom-form">
            <div class="col mx-auto custom-bg">
                <div class="row">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-lg btn-primary btn-block custom-btn" data-toggle="modal"
                            data-target="#modalQuickView">
                        Manage Role
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <label>
                                                <select id="roleSelect" name="Role Select"
                                                        class="md-form mdb-select colorful-select btn-secondary btn-lg">
                                                    <option value="" disabled selected>Select an Option
                                                    </option>
                                                    <option value="contractors">Assign Contractors</option>
                                                    <option value="2">Contractor</option>
                                                    <option value="3">Agency</option>
                                                </select>
                                            </label>
                                        </div>


                                        <label>Role to Edit</label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-5">

                                        <!-- Dropdown For Manager Select-->
                                        <div class="card-body">


                                            <div class="row lists custom-form" id="contractors" style="display:none">
                                                <div class="col-xl custom-bg">
                                                    <div class="text-center">
                                                        <Form>
                                                            <select>
                                                                <option th:each="i:${managerKey}" th:value="*{i}" th:text="*{i.username}"></option>
                                                            </select>

                                                            <!--TODO Some Crazy Table Insert Or Server Call to Populate Here-->
                                                            Contractor
                                                            Table Here
                                                        </Form>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="text-center">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">
                                        Close
                                    </button>

                                    <button class="btn btn-primary">
                                        Save Changes
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });

    $(document).ready(function () {
        $('#roleSelect').change(function () {
            $('.lists').hide();
            $('#' + $(this).val()).show();
        });
    });


</script>
</html>