<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>


<main class="container" role="main">
    <div class="starter-template">

        <div class="row mx-auto custom-form">
            <div class="col mx-auto custom-bg">
                <div class="row">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-lg btn-primary btn-block custom-btn">
                        Edit Manager
                    </button>
                </div>

            </div>
        </div>
    </div>
</main>
</body>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });

    $(document).ready(function () {
        $('#roleSelect').change(function () {
            $('.lists').hide();
            $('#' + $(this).val()).show();
        });
    });


</script>
</html>