<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/header :: head"><title></title></head>

<body>

<div th:replace="fragments/header :: header"></div>

<main class="container" role="main">
<div class="starter-template">
<div class="row mx-auto custom-form">
    <div class="col mx-auto custom-bg">

    <div class="row mt-4 custom-label"
         id="missingInvoicesMessage"
         th:if="${Reviews.isEmpty()}">
        <h4>No remaining Invoices</h4>
    </div>


    <div class="row mt-4 custom-label" th:if="${!Reviews.isEmpty()}">
        <h4 th:text="'Invoices'"></h4>
    </div>

    <div class="custom-form reduced" th:if="${!Reviews.isEmpty()}">
        <div class="mx-3 custom-bg scrolling-wrapper">
        <table class="table table-light"
               style="table-layout: fixed; width: 95%"
               id="reviews">
            <thead>
                <tr>
                <th scope="col" class="shorter-header">
                    <label for="nameSearch">Name</label>
                    <input class="small-input searcher"
                           type="text" id="nameSearch"
                           onkeyup="filterResults()"
                           placeholder="Name">
                </th>

                <th scope="col" class="shorter-header">
                    <label for="agencySearch">Agency</label>
                    <input class="small-input searcher"
                           type="text" id="agencySearch"
                           onkeyup="filterResults()"
                           placeholder="Agency">
                </th>

                <th scope="col" class="shorter-header">
                    <label for="agencyEmailSearch">Agency Email</label>
                    <input class="small-input searcher"
                           type="text" id="agencyEmailSearch"
                           onkeyup="filterResults()"
                           placeholder="Agency email">
                </th>

                <th scope="col" class="tiny-header">
                    <label for="daysWorkedSearch">Days Worked</label>
                    <input class="tiny-input searcher"
                           type="text" pattern="/d*"
                           id="daysWorkedSearch"
                           onkeyup="filterResults()"
                           placeholder="">
                </th>

                <th scope="col" class="tiny-header">
                    <label for="overTimeSearch">Over Time</label>
                    <input class="tiny-input searcher"
                           type="text" pattern="/d*"
                           id="overTimeSearch"
                           onkeyup="filterResults()"
                           placeholder="">
                </th>

                <th scope="col" class="searcher dates short-header">
                    <label for="start-date-selector">From:</label>
                    <input type="date" class="date-picker date-input short-date" min="1997-01-05"
                           step="7" id="start-date-selector"
                           onchange="filterResults()">
                    <label for="end-date-selector">To:</label>
                    <input type="date" class="date-picker date-input short-date" min="1997-01-05"
                           step="7" id="end-date-selector"
                           onchange="filterResults()">
                </th>

                </tr>
            </thead>
            <tbody>
            <tr th:each="ReviewItem: ${Reviews}" class="notSaved wrap"
                th:id="'reviewItem' + ${ReviewItem.id}">

                <td><span th:text="${ReviewItem.timeSheet.contractor.user.firstname}
                            + ' ' + ${ReviewItem.timeSheet.contractor.user.surname}"></span></td>
                <td><span th:text="${ReviewItem.timeSheet.contractor.agency.name}"></span></td>
                <td><span th:text="${ReviewItem.timeSheet.contractor.agency.agency_email}"></span></td>
                <td><span th:text="${ReviewItem.timeSheet.daysWorked}"></span></td>
                <td><span th:text="${ReviewItem.timeSheet.overtime}"></span></td>
                <td><span th:text="${ReviewItem.timeSheet.week_finish}"></span></td>
                <td>
                    <button class="btn btn-success" id="approve"
                            th:onclick="|sendApproval(${ReviewItem.id})|">
                        Confirm Invoice
                    </button>
                </td>
            </tbody>
        </table>
        </div>
    </div>
    </div>

</div>
</div>
</main>
<script>
    function sendApproval(id) {
        fetch(`/api/reviews/confirm/` +id);
        let row = document.getElementById("reviewItem" + id);
        row.classList.remove("notSaved");
        row.style.display = "none";
    }

    function filterResults() {

        let table = document.getElementById("reviews");
        let search_items = document.getElementsByClassName("searcher");
        let tr = table.getElementsByTagName("tr");

        let td;
        let filter;
        let txtValue;
        let search_input;
        for (let i = 0; i < tr.length; i++) {


            let row = tr[i];
            if (row.classList.contains("notSaved")) {
                row.style.display = "";
            }

            for (let iter = 0; iter < search_items.length; iter++) {

                td = row.getElementsByTagName("td")[iter];
                if (td) {

                    search_input = search_items[iter];
                    txtValue = td.textContent || td.innerText;

                    if (search_input.classList.contains("dates")) {
                        dates = search_input.getElementsByTagName("input");
                        startDate = dates[0].valueAsDate;
                        endDate = dates[1].valueAsDate;
                        parsedDate = Date.parse(txtValue);
                        if ((startDate > parsedDate && startDate != null)
                            || (parsedDate > endDate && endDate != null)) {
                            tr[i].style.display = "none";
                        }

                    } else {
                        filter = search_input.value.toUpperCase();

                        if (!(txtValue.toUpperCase().indexOf(filter) > -1) && filter) {
                            tr[i].style.display = "none";
                        }
                    }

                }
            }

        }
    }
</script>
</body>
</html>