<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/header :: head"><title></title></head>

<body>

<div th:replace="fragments/header :: header"></div>

<main class="container" role="main">
    <div class="starter-template">
        <div class="row mx-auto custom-form">
            <div class="col mx-auto custom-bg">

                <div id=missingTimesheetMessage th:if="${Reviews.isEmpty()}">
                    <div>No matching Invoices</div>
                </div>


                <div class="row mt-4 custom-label">
                    <h4 th:text="'Invoices'"></h4>
                </div>

                <div class="custom-form" th:if="${!Reviews.isEmpty()}">
                    <div class="mx-3 custom-bg scrolling-wrapper">
                        <table class="table table-light" id="reviews">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <label for="nameSearch">Name</label>
                                    <input class="small-input searcher" type="text" id="nameSearch" onkeyup="filterResults()" placeholder="Name">
                                </th>
                                <th scope="col">
                                    <label for="agencySearch">Agency</label>
                                    <input class="small-input searcher" type="text" id="agencySearch" onkeyup="filterResults()" placeholder="Agency">
                                </th>
                                <th scope="col">
                                    <label for="agencyEmailSearch">Agency Email</label>
                                    <input class="small-input searcher" type="text" id="agencyEmailSearch" onkeyup="filterResults()" placeholder="agency@email.com">
                                </th>
                                <th scope="col">
                                    <label for="daysWorkedSearch">Days Worked</label>
                                    <input class="tiny-input searcher" type="text" pattern="/d*" id="daysWorkedSearch" onkeyup="filterResults()" placeholder="">
                                </th>
                                <th scope="col">
                                    <label for="overTimeSearch">Over Time</label>
                                    <input class="tiny-input searcher" type="text" pattern="/d*" id="overTimeSearch" onkeyup="filterResults()" placeholder="">
                                </th>
                                <th scope="col">
                                    <label for="weekFinishedSearch">Week End Date</label>
                                    <input class="date-input searcher" type="text" id="weekFinishedSearch" onkeyup="filterResults()" placeholder="YYYY-MM-DD">
                                </th>
                                <th scope="col">
                                    <label for="reviewSearch">Reviewed</label>
                                    <input class="tiny-input searcher" type="text" id="reviewSearch" onkeyup="filterResults()" placeholder="Approved"/>
                                </th>
                                <th scope="col">
                                    <label for="paidSearch">Paid</label>
                                    <input class="tiny-input searcher" type="text" id="paidSearch" onkeyup="filterResults()" placeholder="true"/>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ReviewItem: ${Reviews}" th:id="'reviewitem' + ${ReviewItem.id}" class="notsaved">
                                <td><span th:text="${ReviewItem.timeSheet.contractor.user.firstname}
                                            + ' ' + ${ReviewItem.timeSheet.contractor.user.surname}"></span></td>
                                <td><span th:text="${ReviewItem.timeSheet.contractor.agency.name}"></span></td>
                                <td><span th:text="${ReviewItem.timeSheet.contractor.agency.agency_email}"></span></td>
                                <td><span th:text="${ReviewItem.timeSheet.daysWorked}"></span></td>
                                <td><span th:text="${ReviewItem.timeSheet.overtime}"></span></td>
                                <td><span th:text="${ReviewItem.timeSheet.week_finish}"></span></td>
                                <td><span th:text="${ReviewItem.approved}"></span></td>
                                <td><span th:text="${ReviewItem.paid}"></span></td>
                                <td>
                                    <button class="btn btn-success" id="approve"
                                            th:onclick="|sendApproval(${ReviewItem.id})|">
                                        Confirm Invoice
                                    </button>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    function sendApproval(id) {
        fetch(`/api/reviews/confirm/` +id);
        let row = document.getElementById("reviewitem" + id);
        row.classList.remove("notsaved");
        row.style.display = "none";
    }
    function filterResults() {

        let table = document.getElementById("reviews");
        let search_items = document.getElementsByClassName("searcher");
        let tr = table.getElementsByTagName("tr");

        let td;
        let filter;
        let txtValue;
        for (let i = 0; i < tr.length; i++) {


            let row = tr[i];
            if (row.classList.contains("notsaved")) {
                row.style.display = "";
            }

            for (let iter = 0; iter < search_items.length; iter++) {

                td = row.getElementsByTagName("td")[iter];
                if (td) {

                    filter = search_items[iter].value.toUpperCase();
                    txtValue = td.textContent || td.innerText;

                    if (!(txtValue.toUpperCase().indexOf(filter) > -1) && filter) {
                        tr[i].style.display = "none";
                    }

                }
            }

        }
    }
</script>
</body>
</html>