<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<main class="container" role="main">
    <div class="starter-template">

        <div class="row mx-auto custom-form">
            <div class="col mx-auto custom-bg">
                <div id = registrationDetails>
                    <form action="#" method="post" th:action="@{/newUser}" th:object="${registerKey}">

                        <div class="custom-label">
                            <h3>Please Enter The Details For A New User</h3>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="username">Username</label>
                            <input aria-describedby="Enter a Username."
                                   class="form-control"
                                   placeholder="Username"
                                   th:field="*{username}"
                                   type="text">

                            <div class="alert alert-danger"
                                 th:errors="*{username}"
                                 th:if="${#fields.hasErrors('username')}">
                                Username Error: Please enter a valid username.
                            </div>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="firstname">First Name</label>
                            <input aria-describedby="Enter First Name."
                                   class="form-control"
                                   placeholder="First Name"
                                   th:field="*{firstname}"
                                   type="text">

                            <div class="alert alert-danger"
                                 th:errors="*{firstname}"
                                 th:if="${#fields.hasErrors('firstname')}">
                                First Name Error: Please enter a valid First Name.
                            </div>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="surname">Surname</label>
                            <input aria-describedby="Enter a Surname."
                                   class="form-control"
                                   placeholder="Surname"
                                   th:field="*{surname}"
                                   type="text">

                            <div class="alert alert-danger"
                                 th:errors="*{surname}"
                                 th:if="${#fields.hasErrors('surname')}">
                                Surname Error: Please enter a valid surname.
                            </div>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="email">Email</label>
                            <input aria-describedby="Enter an Email"
                                   class="form-control"
                                   placeholder="Email"
                                   th:field="*{email}"
                                   type="text">

                            <div class="alert alert-danger"
                                 th:errors="*{email}"
                                 th:if="${#fields.hasErrors('email')}">
                                Email Error: Please enter a valid email.
                            </div>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="password">Password</label>
                            <input aria-describedby="Enter Password."
                                   class="form-control"
                                   placeholder="Password"
                                   th:field="*{password}"
                                   type="text">

                            <div class="alert alert-danger"
                                 th:errors="*{password}"
                                 th:if="${#fields.hasErrors('password')}">
                                Password Error: Please enter a valid password.
                            </div>
                        </div>

                        <div class="form-group custom-label">
                            <label th:for="role">Select Role</label>
                            <select class="form-control" th:field="*{role}">
                                <option th:value="ROLE_CONTRACTOR">CONTRACTOR</option>
                                <option th:value="ROLE_MANAGER">MANAGER</option>
                                <option th:value="ROLE_ADMIN">ADMIN</option>
                            </select>
                        </div>

                        <div class="form-group custom-label" th:id="managerHidden">
                            <label th:for="manager">Select Manager For Contractor</label>
                                <select class="btn btn-lg btn-secondary btn-block custom-btn">
                                    <option th:each="i:${managerKey}" th:value="*{i.id}"
                                            th:text="*{i.username}">
                                    </option>
                                </select>
                        </div>

                        <div class="row mt-4">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>

                            <input class="btn btn-lg btn-primary btn-block custom-btn" id="submit" type="submit"
                                   value="Submit Registration Form"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>