<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">
    <!-- Fragment Insert -->
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<main class="container mt-4" role="main">
    <div class="starter-template">

        <!--Contractor Details Here-->
        <div id=contractorProfile>
            <div>Logged in as: Contractor</div>

        </div>

        </div>

</main>
</body>
</html>